version = 1

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  environment = ["browser", "nodejs"]

[[transformers]]
name = "prettier"
enabled = true

[[analyzers]]
name = "test-coverage"
enabled = true